/* PALLATE 
#586A6A - Deep Space Sparkle
#818D92 - Light Slate Grey
#B9A394 - Grullo
#D4C5C7- Black Shadows
#DAD4EF - Languid Lavender
*/


body {
    background-color: #DAD4EF;
    display: flex;
    align-items: center;
    flex-direction: column;
    touch-action: manipulation;
}

h1 {
    background-color: #B9A394;
    padding: 5px 13px 5px 13px;
}

#generalContainer {
    display: flex;
    flex-direction: row;
    margin-top: 1%;
    width: 90%;
}

/* Div where user can add books */

#inputContainer {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 20%;;
    background-color: #B9A394;
    height: 14em;
}

#inputContainer p {
    background-color: #DAD4EF;
    width: 95%;
    margin-left: auto;
    margin-right: auto;
}

#inputContainer input {
    width: 80%;
    margin-top:10px;
    margin-bottom: 10px;
}

#inputContainer #addBookButton {
    padding: 3px;
    width: 95%;
    font-size: 85%;
    background-color: #ffe8d6;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
}

#addBookButton:hover {
    cursor: pointer;
    background-color: #D4C5C7;
}

/* Div where book list will be displayed */

#libraryContainer {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(180px, 200px));
    grid-template-rows: auto;
    margin-left: 2%;
    width: 80%;
}

.bookDiv {
    margin-bottom: 5%;
    margin-left: 2%;    
    margin-right: 2%;
    text-align: center;
    background-color: #B9A394;
    height: 14em;
}

.bookDiv p {
    font-size: 100%
}

.deleteBook {
    margin-top: 10%;
    margin-bottom: 5%;
    color: black;
    margin-left: auto;
    margin-right: auto;
    width: 10%;
    height: 10%;
    border-radius: 50%;
}

.deleteBook:hover {
    color: darkred;
    cursor: pointer;
    background-color: #ffe8d6;
    transform: scale(1.3);
}

.title {
    text-decoration: underline;
}

.author {
    font-style: italic;
}

.readStatus {
    margin-top: 10%;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    padding: 4px;
    background-color: #ffe8d6;
}

.readStatus:hover {
    cursor: pointer;
    background-color: #DAD4EF;
}

.finished {
    border: 2px black solid;
}


/* center all placeholders */
::-webkit-input-placeholder {
    text-align: center;
  }

/* FOOTER */

#footer {
    display: flex;
    margin-bottom: 0px;
    position: fixed;
    height: 5%;
    width: 99%;
    background-color:white; 
    text-align: center;
    bottom: 0;
}

#footer p {
    margin-left: auto;
    margin-right: auto;
    align-self: center;
    justify-content: center;
    align-content: center;
}

#footer a {
    color: inherit;
}

#footer svg {
    margin-left: 7px;
}
}